{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={% static 'landing/main.css' %}>
    <style src="{% static 'landing/main.js' %}"></style>
    <title>{{title}}</title>
</head>
<body>
    <div class="jumbotron-fluid bg-transparent text-center">
        <pre style="color : #5B7300;">


- _-_
/~~    ~~\
/~~         ~~\
{              }
\ _-     -_  /
~  \\ //  ~
_- - | | _- _
_ -  | |   -_
// \\
        </pre>
        <br>
        <h3 id="name"><b>{{name}}</b></h3>
        
        {% for i in description %}
            <em id="info">{{i}}<br>
        {% endfor %}

        <div class=" text-center">
            <br>
            <span id="name">Email:<span id="info">{{email}}</span></span>
            <br>
            <span id="name">Phone:<span id="info">{{phone}}</span></span>
            <br><br>
            {% for item in social %}
                {% for link,name in item.items %}
                    <a id="icons" href="{{link}}" class="{{name}}"></a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
        </div>
            {% block content %}{% endblock content %}
        </div>
    <div class="jumbotron bg-transparent text-center">
        <br>
            {% for dict in core %}
                {% for link, name in dict.items %}
                    <a id="icons" href="{{link}}">{{name}}</a><em> // </em>
                {% endfor %}
            {% endfor %}
    </div>
</body>
</html>